<section id="bike-details">
    <h1>Motorbike Listing Details</h1>

    @if ($listing | async; as listing) {
    <div class="info-section">
        <div class="bike-header">
            <img class="bike-img" [src]="listing.imageUrl1" alt="{{ listing.make }} {{ listing.model }}" />
            <h1>{{ listing.make }} {{ listing.model }}</h1>
            <span class="year">Model Year: {{ listing.year }}</span>
            <p class="condition">Condition: {{ listing.condition }}</p>
            <p class="engine">Engine: {{ listing.cubicCapacity }} cc</p>
            <p class="horsepower">Horsepower: {{ listing.hp }} hp</p>
            <p class="price">Price: {{ listing.price }} {{ listing.currency }}</p>
            <p class="location">Location: {{ listing.location }}</p>
        </div>

        <p class="information">
            {{ listing.information }}
        </p>

        <div class="bike-images">
            <h2>Gallery:</h2>
            <img [src]="listing.imageUrl1" alt="{{ listing.make }} {{ listing.model }}" />
            <img [src]="listing.imageUrl2" alt="{{ listing.make }} {{ listing.model }}" />
            <img [src]="listing.imageUrl3" alt="{{ listing.make }} {{ listing.model }}" />
        </div>

        <!-- Comments Section -->
        <app-comment-section [comments]="comments()"></app-comment-section>

        <!-- Edit/Delete buttons -->
        @if (isOwner) {
        <div class="buttons">
            <a [routerLink]="['/listings', listing._id, 'edit']" class="button">Edit Listing</a>
            <a [routerLink]="['/listings', listing._id, 'delete']" (click)="onDelete()" class="button">Delete
                Listing</a>
        </div>
        }
        <span class="watching">
            In {{ watchlistedCount() }} people's watchlists.
        </span>
    </div>

    @if (!isOwner && currentUser?._id) {
    <!-- Add Comment -->
    <app-comment-create (commentCreated)="onCommentCreated($event)"></app-comment-create>

    <article class="watchlist">
        @if (!hasAddedToWatchlist()) {
        <div className="watchlist">
            <button className="button" (click)="onAddToWatchlist()">
                Add to Watchlist
            </button>
        </div>
        } @else {
        <div className="watchlist">
            <button className="button" disabled>
                Already Added to Watchlist!
            </button>
        </div>
        }
    </article>
    }
    }
</section>