<!-- Hero Section -->
<section class="hero">
    <h1>Welcome to MotoRush</h1>
    <p>
        Discover, Buy &amp; Sell Motorbikes — The Ultimate Marketplace for Riders!
        Find the perfect bike for your next adventure or list yours for sale today
        and connect with buyers near you!
    </p>
    <div class="hero-buttons">
        <a routerLink="/search" class="btn">Browse Listings</a>
        <a routerLink="/listings/create" class="btn">Sell Your Bike</a>
    </div>
</section>

<!-- Latest Listings Section -->
<section class="bike-listings">
    <h2>Latest Listings</h2>
    <div class="bike-listings-wrapper">
        @if (latestListings$ | async; as latestListings) {
        @if (latestListings.length > 0) {
        @for (curListing of latestListings; track curListing._id) {
        <article class="bike">
            <img [src]="curListing.imageUrl1" [alt]="curListing.make + ' ' + curListing.model" />
            <h3>
                <a [routerLink]="['/listings', curListing._id, 'details']">
                    {{ curListing.make }} {{curListing.model }}
                </a>
            </h3>
            <p>Condition: {{ curListing.condition }}</p>
            <p>Price: {{ curListing.price }} {{curListing.currency}}</p>
        </article>
        }
        }
        @else {
        <h3 class="no-articles">No motorbike listings available.</h3>
        }
        }
    </div>
</section>